---
layout: tags
permalink: /tags/
---


<div class="container">
  <div class="posts-container mx-auto px-3 py-5">
    {% if site.tags != '' %}
        <h3 class="page-heading">Посты:</h3>
        <div class="tags">
          <i class="fa fa-tags"></i>
          {% for tag_obj in site.tags %}
          {% assign tag = tag_obj | first %}
          {% assign count = site.tags[tag].size %}

          <a href="{{site.baseurl}}/tag/{{ tag }}">
          <span class="tag">{{ tag }}
            {% if count != 1 %}
              <span class="tag-count">({{ count }})</span>
            {% endif %}
          </span>
          </a>

          {% endfor %}
        </div>
    {% endif %}


<!--    <ul class="list mb-5">-->
<!--      {% for post in site.posts %}-->

<!--      <li>-->
<!--        <small class="text-muted">{{ post.date | date: "%Y %b %-d" }}</small>-->
<!--        <a class="post-link ml-3" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>-->
<!--      </li>-->


<!--      {% endfor %}-->
<!--    </ul>-->


  </div>
</div>




