---
# main
---
@charset "utf-8";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;


// Width of the content area
 $content-width: 800px;
 $on-palm: 600px;
 $on-laptop: 800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

// Import partials from `sass_dir` (defaults to `_sass`)

@import "syntax-highlighting";


// $base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
// https://themestr.app/theme

/*! `Custom` Bootstrap 4 theme */
// @import url(https://use.fontawesome.com/releases/v5.0.10/css/all.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,700);
$font-family-base:Open Sans;
@import url(https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,700);
$headings-font-family:Open Sans;

$enable-grid-classes:false;
$primary:#0366d6;
$secondary:#a0b7bc;
$success:#37bd74;
$danger:#e8286b;
$info:#7ebcfa;
$warning:#ff9b37;
$light:#eef0f2;
$dark:#3c4055;
$enable-gradients:false;
$spacer:1rem;
$border-width:1px;
$btn-border-radius:.25rem;

@import "bootstrap/bootstrap-reboot";
@import "bootstrap/bootstrap-grid";
@import "bootstrap/bootstrap";
@import "style", "custom";
