---
layout: default
---

<div class="row blog">

  {{ content }}

  <div class="col-md-8 blog-main">


    <ul class="list-group list-group-flush">
      {% for post in paginator.posts %}
        <li  class="list-group-item">
          {% assign date_format = site.minima.date_format | default: "%Y %b %-d" %}
          
          <div class="card border-0">
            <div class="card-body p-0">
              <a class="post-link no-underline" href="{{ post.url | relative_url }}">
                <h5 class="card-title">{{ post.title | escape }}</h5>
              </a>
              
              {% if site.preview_posts %}
              <p class="card-text">
                {{ post.content | strip_html | truncatewords:25 }}
              </p>
              {% endif %}

              <p class="card-text"><small class="text-muted">{{ post.date | date: date_format | default: "%Y %b %-d" }}</small></p>
            </div>
          </div>

        </li>
      {% endfor %}
    </ul>
  </div>


  {% include sidebar.html %}

  
  {% if paginator.total_pages != 1 %}
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="previous">
          <div><i class="fa fa-caret-left"></i></div>
        </a>
      {% else %}
        <span class="previous disabled">
          <div><i class="fa fa-caret-left"></i></div>
        </span>
      {% endif %}
      <span class="page-number ">{{ paginator.page }} / {{ paginator.total_pages }}</span>
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="next">
          <div><i class="fa fa-caret-right"></i></div>
        </a>
      {% else %}
        <span class="next disabled">
          <div><i class="fa fa-caret-right"></i></div>
        </span>
      {% endif %}
    </div>
  {% endif %}




</div>
