---
layout: default
---
<!--<article class="post" itemscope itemtype="http://schema.org/BlogPosting">-->

<!--  <header class="post-header">-->
<!--    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>-->
<!--    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
{{ page.date | date: "%b %-d, %Y" }}</time>

{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span>
</span>{% endif %}</p>-->
<!--  </header>-->

<!--  Теги: {{ page.tags | join: ', ' }}-->
<!--  <br>-->
<!--  Категории: {{ page.categories | join: ', ' }}-->
<!--  <hr>-->

<!--  <div class="post-content" itemprop="articleBody">-->
<!--    {{ content }}-->
<!--  </div>-->

<!--  -->
<!--</article>-->



<main role="main" class="container" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="row mt-3">

    <div class="col-md-8 blog-main">

      <article class="blog-post " itemscope itemtype="http://schema.org/BlogPosting">
          <header class="post-header border-bottom mb-1">
            <h2 class="blog-post-title" itemprop="name headline">{{ page.title }}</h2>
            <p class="blog-post-meta">
              <time class="text-muted" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%-d %b %Y" }}</time>
            </p>
          </header>

          <div class="post-content" itemprop="articleBody">
            {{ content }}
          </div>

      </article>


      <!-- =============== -->
      <div class="row justify-content-md-center">
        <div class="col col-lg-2"></div>
        <div class="col-md-auto">
          <nav class="blog-pagination">
            <a class="btn btn-outline-primary" href="{{ site.baseurl }}/{{page.previous.url}}" tabindex="-1" aria-disabled="true">previous</a>
            <a class="btn btn-outline-primary" href="{{ site.baseurl }}/{{page.next.url}}">Next</a>
          </nav>
        </div>
        <div class="col col-lg-2"></div>
      </div>

    </div><!-- /.blog-main -->

    <div class="col-md-4">
        <aside class="blog-sidebar">
          <div class="p-4 mb-3 bg-light rounded">
            <h4 class="font-italic">About</h4>
            <p class="mb-0">Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
          </div>



          {% assign site_tags =  site.posts | map: "tags" | compact | uniq  %}
          <div class="p-4">
            <h4 class="">Tags</h4>
            {% for tag in site_tags %}
              <a class="mr-1" href="#">{{ tag }}</a>
            {% endfor %}
            </ol>
          </div>
        </aside>
      <!-- /.blog-sidebar -->
    </div>


  </div><!-- /.row -->

</main>
